*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    
}
.intro{
    margin:2% 35%;
}
.para{
    font-size: 20px;
}
.main{
    font-size: 15px;
}