*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    
}
.header{
    margin:2% 25%;
    font-size: 40px;
}
.btn{
    margin:2% 25%;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}
